@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main class="container content">
        @Body
    </main>

    <footer class="container text-center text-muted py-4">
        <small>Built by Mike Tree &mdash; 2026</small>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">&#x1F5D9;</span>
</div>
